.lessonCalendarWrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    font: "Circe Rounded";
    gap: 15px;
}
.lessonCalendarSelect {
    display: flex;
    justify-content: space-between;
}
.select {
    cursor: pointer;
    padding: 10px;
    width: 253px;
    height: 36px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    border: 1px solid #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .select input {
    cursor: default;
    width: 80%;
    outline: none;
    border: none;
    height: calc(36px - 2px);
  }
  input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    color: #79747F;
  }
  .select svg {
    width: 16px;
    height: 16px;
    color: #79747F;
    margin-top: 4px;
    transition: .3s ease-in;
  }
  .button, .buttonActive {
    height: 40px;
    gap: 8px;
    border-radius: 30px;
    opacity: 0px;
    width: 344px;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    background-color: #DECFFF;
    color: #323854;
    transition: .3s ease-in;
}
.buttonActive {
  background-color: #8D7FC7;
}
.button:hover {
  background-color: #8D7FC7;
}
.buttonActive:hover {
  background-color: #DECFFF;
}