.modal {
    box-shadow: 0px 0px 800px rgba(43, 37, 37, 0.5);
    height: 700px;
    width: 600px;
    position: absolute;
    left: 40%;
    background-color: #000; 
    border-radius: 50px;
    z-index: 1;
  }
  /* // hsl(0, 0%, 100%); */