.wrapperPage {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.contentWrapper {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.content {
    padding: 30px;
}