.header {
    padding: 0 41px;
    max-width: 1154px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: "Circe Rounded";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #323854;
    border-radius: 30px;
    box-shadow: 0px 1px 5px rgba(56, 49, 49, 0.09);
}
.headerTitle {
    display: flex;
}
.headerUserName {
    color: #7362BC;
}
.headerAvatarWrapper {
    display: flex;
    gap: 15px;
}
.headerAvatarWrapperNoTitle {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}
.headerAvatarWrapper > * {
    cursor: pointer;
}
.headerAvatarWrapper, .headerAvatarWrapperNoTitle {
    position: relative;
}
.headerAvatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #7362BC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerAvatarUser {
    width: 64px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerAvatarUser .headerAvatar {
    background: url("https://s3-alpha-sig.figma.com/img/dae3/59ff/8f6d0de811237737f4dd4647e4b450b5?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cYD5~UVyi0e5FV6UufOzKn-kYLLkBtdbeNVh8Sc5D7hexbteNXIDyMA3L7QQ791nLZ~~MEdKDi16wngFy2UFv9AXHxGBInvlziicEY4n8U9pz~vSTdifZPI7eFWmINMRvMaIv69pbbIVwlksZ6jDGpx24XjEIit9WqE-ni6WDUUvw798cEJMbN8rZv9f6ghzfOpivOBDYZnCAyg3Fl9r8PRFckK4nCUuFvPZkxXKMybOqq7ojoOJ1iMITpNuGJxHHR9ODy8jXBtobCQQeHO2xUA7XwTiVQjpDKNtESAsYvWdo5RUviy1YIuUSqGqcjz~lvUKSTNfz8-lkSbYw5iqeQ__") center center;
    background-size: cover;
}
.roundUnreadMessages {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-family: Circe Rounded;
    font-size: 10px;
    font-weight: 700;
    line-height: 8px;
    background-color: #E12828;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #fff;
}
.headerAvatarWrapper .roundUnreadMessages {
    top: -4px;
    left: 27px;
}
.headerAvatarWrapperNoTitle .roundUnreadMessages {
    top: -3px;
    right: 78px;
}