.authorizationWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization {
  width: 340px;
  height: 535px;
  font: "Circe Rounded";
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.authorizationHeader {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.authorizationForm {
  width: 100%;
}
.authorizationForm form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  color: #79747f;
  margin-bottom: 14px;
}
input {
  width: 100%;
  border: 1px solid #ECECEC;
  border-radius: 7px;
  padding: 10px;
  background-color: #fff;
  outline: none;
}
input:hover {
  border: 1px solid #8d7fc7;
}
.inputWrapper {
  position: relative;
}
.hidePasswordSVG svg {
  position: absolute;
  right: 5%;
  bottom: 30%;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  outline: none;
  border: 1px solid #C8C5CD;
  border-radius: 4px;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
}
button {
  margin: 0;
  color: #fff;
  cursor: pointer;
  border: none;
  width: 339px;
  height: 48px;
  padding: 10px 86px 10px 86px;
  gap: 8px;
  border-radius: 30px;
  background-color: #8d7fc7;
  opacity: 0px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #7c6ebf;
}

.secondWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}
.linksWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.authorizationFooter {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 40px;
}
a {
  color: #008aff;
  text-decoration: none;
}
.authorizationFooter > * {
  cursor: pointer;
  font-weight: 400;
}
.lang {
  font-size: 16px;
  line-height: 21.6px;
  color: #79747f;
}
.langActive {
  font-size: 24px;
  line-height: 21px;
  color: #7362bc;
}
